---
layout: base
---

 <div class="banner" style="padding:5px; text-align:center;">
  <div class="banner-content">
    <p>This webpage has resources and information  for writing your phd in uc-down</p>
 </div>
</div>


<div class="list-filters">
  <a href="https://www.github.com/davan690/ucdown" class="list-filter">University of Canberra</a>
  <a href="https://github.com/benmarwick/ucdown" class="list-filter">Washington University</a>
  <a href="https://github.com/rensa/unswthesisdown" class="list-filter">USNW</a>
</div>

<div role="main" class="container">
    {{ content }}
  </div>